In [35]:
# Load packages
import os
import pandas as pd
import numpy as np
#import pingouin
#from scipy.stats import chi2_contingency
from IPython.display import Image

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Advanced plotting functionality with seaborn
#import seaborn as sns
 
#sns.set(style="whitegrid")  # can set style depending on how you'd like it to look

# increase the size and quality of any plots we produce
#import matplotlib as mpl

#mpl.rcParams["figure.dpi"] = 300

In [36]:
df = pd.read_csv("data/GVA Data.csv")
df.head(5)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 29 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   incident_id                  239677 non-null  int64
 1   date                         239677 non-null  object
 2   state                        239677 non-null  object
 3   city_or_county               239677 non-null  object
 4   address                      223180 non-null  object
 5   n_killed                     239677 non-null  int64
 6   n_injured                    239677 non-null  int64
 7   incident_url                 239677 non-null  object
 8   source_url                   239209 non-null  object
 9   incident_url_fields_missing  239677 non-null  bool
 10  congressional_district       227733 non-null  float64
 11  gun_stolen                   140179 non-null  object
 12  gun_type                     140226 non-null  object
 13  incident_characteristics     239351 non-null  object
 14  latitude                     231754 non-null  float64
 15  location_description         42089 non-null   object
 16  longitude                    231754 non-null  float64
 17  n_guns_involved              140226 non-null  float64
 18  notes                        158660 non-null  object
 19  participant_age              147379 non-null  object
 20  participant_age_group        197558 non-null  object
 21  participant_gender           203315 non-null  object
 22  participant_name             117424 non-null  object
 23  participant_relationship     15774 non-null   object
 24  participant_status           212051 non-null  object
 25  participant_type             214814 non-null  object
 26  sources                      239068 non-null  object
 27  state_house_district         200905 non-null  float64
 28  state_senate_district        207342 non-null  float64
dtypes: bool(1), float64(6), int64(3), object(19)
memory usage: 51.4+ MB

In [38]:
best_columns=df.copy()
best_columns=best_columns.drop(columns=['incident_url','source_url',
                                       'incident_url_fields_missing',
                                       'congressional_district','notes',
                                       'participant_age_group','participant_name','sources',
                                       'state_house_district','state_senate_district'])
best_columns.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,gun_stolen,gun_type,incident_characteristics,latitude,location_description,longitude,n_guns_involved,participant_age,participant_gender,participant_relationship,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,NaN,-79.8559,NaN,0::20,0::Male||1::Male||3::Male||4::Female,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,NaN,-118.3330,NaN,0::20,0::Male,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,0::Unknown||1::Unknown,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,Cotton Club,-82.1377,2.0,0::25||1::31||2::33||3::34||4::33,0::Male||1::Male||2::Male||3::Male||4::Male,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,NaN,-104.8020,NaN,0::29||1::33||2::56||3::33,0::Female||1::Male||2::Male||3::Male,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,0::Unknown||1::Unknown,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,NaN,-79.9569,2.0,0::18||1::46||2::14||3::47,0::Female||1::Male||2::Male||3::Female,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

In [39]:
best_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   incident_id               239677 non-null  int64
 1   date                      239677 non-null  object
 2   state                     239677 non-null  object
 3   city_or_county            239677 non-null  object
 4   address                   223180 non-null  object
 5   n_killed                  239677 non-null  int64
 6   n_injured                 239677 non-null  int64
 7   gun_stolen                140179 non-null  object
 8   gun_type                  140226 non-null  object
 9   incident_characteristics  239351 non-null  object
 10  latitude                  231754 non-null  float64
 11  location_description      42089 non-null   object
 12  longitude                 231754 non-null  float64
 13  n_guns_involved           140226 non-null  float64
 14  participant_age           147379 non-null  object
 15  participant_gender        203315 non-null  object
 16  participant_relationship  15774 non-null   object
 17  participant_status        212051 non-null  object
 18  participant_type          214814 non-null  object
dtypes: float64(3), int64(3), object(13)
memory usage: 34.7+ MB

best_columns['month_year'] = pd.to_datetime(df['date']).dt.to_period('M')
best_columns['month_year'] = best_columns['month_year'].astype(str)
plt.figure(figsize=(20, 8)) # To make it larger
plt.plot(best_columns['month_year'], best_columns['n_injured']) # The order is plt.plot(x,y)
plt.title("Line Plot: 2013 - 2018 Gun Violence Injuries")
plt.xlabel("Date")
plt.ylabel("Injuries per Month")


**Total People Killed per State LIST**

**#NORMALIZE THE DEATHS AND INJURIES**

print("Total People Killed per State")
df.groupby(['state'])['n_killed'].sum().reset_index(name='State').sort_values(by='State', ascending=True)

stolen = df.groupby(df['gun_stolen']).size()
stolen

best_columns_small=best_columns.head()

#error below - had to stop running
split_stolen_small = best_columns_small['gun_stolen'].str.split(pat="\|\|",   expand=True)
split_stolen_small.head()

In [41]:
best_columns['date']=pd.to_datetime(best_columns['date'])
best_columns.dtypes

incident_id                          int64
date                        datetime64[ns]
state                               object
city_or_county                      object
address                             object
n_killed                             int64
n_injured                            int64
gun_stolen                          object
gun_type                            object
incident_characteristics            object
latitude                           float64
location_description                object
longitude                          float64
n_guns_involved                    float64
participant_age                     object
participant_gender                  object
participant_relationship            object
participant_status                  object
participant_type                    object
dtype: object

In [42]:
best_columns.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,gun_stolen,gun_type,incident_characteristics,latitude,location_description,longitude,n_guns_involved,participant_age,participant_gender,participant_relationship,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,NaN,NaN,Shot - Wounded/Injured||Mass Shooting (4+ vict...,40.3467,NaN,-79.8559,NaN,0::20,0::Male||1::Male||3::Male||4::Female,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,NaN,NaN,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.9090,NaN,-118.3330,NaN,0::20,0::Male,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,0::Unknown||1::Unknown,0::Unknown||1::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",41.4455,Cotton Club,-82.1377,2.0,0::25||1::31||2::33||3::34||4::33,0::Male||1::Male||2::Male||3::Male||4::Male,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,NaN,NaN,"Shot - Dead (murder, accidental, suicide)||Off...",39.6518,NaN,-104.8020,NaN,0::29||1::33||2::56||3::33,0::Female||1::Male||2::Male||3::Male,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,0::Unknown||1::Unknown,0::Handgun||1::Handgun,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.1140,NaN,-79.9569,2.0,0::18||1::46||2::14||3::47,0::Female||1::Male||2::Male||3::Female,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

In [43]:
best_columns_sample=best_columns.sample(500)

In [44]:
best_columns_head=best_columns.head()

In [45]:
#error below - had to stop running
split_stolen_small = best_columns_head['gun_stolen'].str.split(pat="\|\|", expand=True)
split_stolen_small

            0           1
0         NaN         NaN
1         NaN         NaN
2  0::Unknown  1::Unknown
3         NaN         NaN
4  0::Unknown  1::Unknown

In [46]:
gun_type_split = best_columns_head['gun_type'].str.split(pat="\|\|", expand=True)
gun_type_split

            0           1
0         NaN         NaN
1         NaN         NaN
2  0::Unknown  1::Unknown
3         NaN         NaN
4  0::Handgun  1::Handgun

In [47]:
characteristics_split = best_columns_head['incident_characteristics'].str.split(pat="\|\|", expand=True)
characteristics_split

,0,1,2,3,4,5
0,Shot - Wounded/Injured,Mass Shooting (4+ victims injured or killed ex...,Possession (gun(s) found during commission of ...,Possession of gun by felon or prohibited person,None,None
1,Shot - Wounded/Injured,"Shot - Dead (murder, accidental, suicide)",Mass Shooting (4+ victims injured or killed ex...,Gang involvement,None,None
2,Shot - Wounded/Injured,"Shot - Dead (murder, accidental, suicide)",Shots Fired - No Injuries,Bar/club incident - in or around establishment,None,None
3,"Shot - Dead (murder, accidental, suicide)",Officer Involved Incident,Officer Involved Shooting - subject/suspect/pe...,Drug involvement,Kidnapping/abductions/hostage,Under the influence of alcohol or drugs (only ...
4,Shot - Wounded/Injured,"Shot - Dead (murder, accidental, suicide)",Suicide^,Murder/Suicide,Attempted Murder/Suicide (one variable unsucce...,Domestic Violence

In [48]:
#HOW WOULD I ATTACH THE INCIDENT ID AS WELL?

age_split = best_columns_head['participant_age'].str.split(pat="\|\|", expand=True)
age_split

       0      1      2      3      4
0  0::20   None   None   None   None
1  0::20   None   None   None   None
2  0::25  1::31  2::33  3::34  4::33
3  0::29  1::33  2::56  3::33   None
4  0::18  1::46  2::14  3::47   None

In [49]:
gender_split = best_columns_head['participant_gender'].str.split(pat="\|\|", expand=True)
gender_split

           0        1        2          3        4
0    0::Male  1::Male  3::Male  4::Female     None
1    0::Male     None     None       None     None
2    0::Male  1::Male  2::Male    3::Male  4::Male
3  0::Female  1::Male  2::Male    3::Male     None
4  0::Female  1::Male  2::Male  3::Female     None

In [50]:
status_split = best_columns_head['participant_status'].str.split(pat="\|\|", expand=True)
status_split

,0,1,2,3,4
0,0::Arrested,1::Injured,2::Injured,3::Injured,4::Injured
1,0::Killed,1::Injured,2::Injured,3::Injured,None
2,"0::Injured, Unharmed, Arrested","1::Unharmed, Arrested",2::Killed,3::Injured,4::Injured
3,0::Killed,1::Killed,2::Killed,3::Killed,None
4,0::Injured,1::Injured,2::Killed,3::Killed,None

In [51]:
type_split = best_columns_head['participant_type'].str.split(pat="\|\|", expand=True)
type_split

,0,1,2,3,4
0,0::Victim,1::Victim,2::Victim,3::Victim,4::Subject-Suspect
1,0::Victim,1::Victim,2::Victim,3::Victim,4::Subject-Suspect
2,0::Subject-Suspect,1::Subject-Suspect,2::Victim,3::Victim,4::Victim
3,0::Victim,1::Victim,2::Victim,3::Subject-Suspect,None
4,0::Victim,1::Victim,2::Victim,3::Subject-Suspect,None

In [ ]:
#Of the INCIDENTS & STATES w/ most DEATHS & INJURIES (normalized),
#What % of those incidents SUSPECTS are GENDER & AGE
#How has it changed in those states over time?

In [ ]:
#Which STATES have the highest percentage of SUSPECTS that are also WOMEN?
#Which STATES have the highest percentage of VICTIMS that are also WOMEN?

**KURT MEETING NOTES - 6/30**

Do more EDA now that we can explore more columns - **In Progress, 7/6**

Strategize how to break down the best columns - **In Progress, 7/6**

Line plot array of major nics states - **Get NICS data into EDA w/ Steph, 7/7**

Heat map of nics and crimes - **w/ Steph, 7/7**

Political map overlay - **w/ Steph, 7/7**

Scrape 2021 - **Completed, Steph 7/5**

Clean them colons - **To Do, 7/11**